//theme
$mainCol:lightBlue;



// size计算
@function torem($px){
  @return $px/75px *1rem;
}
//font size
@mixin fz($font-size) {
  font-size: $font-size;
  [data-dpr="2"] & {
      font-size: $font-size * 2 !important;
  }
  [data-dpr="3"] & {
      font-size: $font-size * 3 !important;
  }
}
@mixin dprImg($url,$name,$type:'.jpg'){
  background-image: url($url+"2x/"+$name+"@2x"+$type);
  [data-dpr="3"] &{
    background-image: url($url+"3x/"+ $name+"@3x"+$type);
 }
}

@mixin t-overflow($line:1) {
  @if $line==1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  @else {
      display: -webkit-box;
      -webkit-line-clamp: $line;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}